# Tutorial for forward-backward algorithm

+ Import numpy for matrix multiplications
+ Import pandas just for the visualization of matrices as Data Frames (you don't need for coding the algorithm)
+ Import pprint for aesthetic beauty (again you don't need this library)

In [1]:
import numpy as np
import pandas as pd
from pprint import pprint

stor the text to be parsed

In [2]:
text = "a myth is female moth"

The vector with the initial prior probabilities for transition to DT, JJ, NN and VB respectively.

In [3]:
initp = np.array([.45, .35, .15, .05])

The transition matrix containing all the transitions from a tag to a tag.
For example, it stores something like probability of a word being a noun given the previous word was a noun.
Thus, it is a table containing frequency distributions of transition probabilities.

In [4]:
tp = np.array([[.03, .42, .5, .05], [.01, .25, .65, .09], [.07, .03, .15, .75], [.3, .25, .15, .3]])

tagVector = ['DT','JJ','NN','VB']    

######### This is just for visualization #############
d = {'DT' : pd.Series([.03,.42,.5,.05], index = ['DT','JJ','NN','VB']),
                     'JJ' : pd.Series([.01,.25,.65,.09], index = ['DT','JJ','NN','VB']),
                     'NN' : pd.Series([.07,.03,.15,.75], index = ['DT','JJ','NN','VB']),
                     'VB' : pd.Series([.3,.25,.15,.3], index = ['DT','JJ','NN','VB'])
                    }
transition_matrix = pd.DataFrame(d)
transition_matrix
######################################################

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DT</th>
      <th>JJ</th>
      <th>NN</th>
      <th>VB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>DT</th>
      <td>0.03</td>
      <td>0.01</td>
      <td>0.07</td>
      <td>0.30</td>
    </tr>
    <tr>
      <th>JJ</th>
      <td>0.42</td>
      <td>0.25</td>
      <td>0.03</td>
      <td>0.25</td>
    </tr>
    <tr>
      <th>NN</th>
      <td>0.50</td>
      <td>0.65</td>
      <td>0.15</td>
      <td>0.15</td>
    </tr>
    <tr>
      <th>VB</th>
      <td>0.05</td>
      <td>0.09</td>
      <td>0.75</td>
      <td>0.30</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
ep = np.array([[.84, .05, .03, .05], [.01, .1, .45, .1], [.02, .02, .02, .6], [.01, .7, .25, .05], [.12, .13, .25, .2]])
######### This is just for visualization #############
e = {'DT' : pd.Series([.84,.01,.02,.01,.12], index = ['a','myth','is','female','moth']),
     'JJ' : pd.Series([.05,.1,.02,.7,.13], index = ['a','myth','is','female','moth']),
     'NN' : pd.Series([.03,.45,.02,.25,.25], index = ['a','myth','is','female','moth']),
     'VB' : pd.Series([.05,.1,.6,.05,.2], index = ['a','myth','is','female','moth'])}
emission_matrix = pd.DataFrame(e)
emission_matrix
######################################################

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DT</th>
      <th>JJ</th>
      <th>NN</th>
      <th>VB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0.84</td>
      <td>0.05</td>
      <td>0.03</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>myth</th>
      <td>0.01</td>
      <td>0.10</td>
      <td>0.45</td>
      <td>0.10</td>
    </tr>
    <tr>
      <th>is</th>
      <td>0.02</td>
      <td>0.02</td>
      <td>0.02</td>
      <td>0.60</td>
    </tr>
    <tr>
      <th>female</th>
      <td>0.01</td>
      <td>0.70</td>
      <td>0.25</td>
      <td>0.05</td>
    </tr>
    <tr>
      <th>moth</th>
      <td>0.12</td>
      <td>0.13</td>
      <td>0.25</td>
      <td>0.20</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# forward algo
forward = np.zeros((5, 4))
for t in range(0, len(text.split())):
    if t == 0:
        tmp = np.dot(initp, tp)
        forward[t] = tmp * ep[t]
    else:
        tmp = np.dot(forward[t - 1], tp)
        forward[t] = tmp * ep[t]
######### This is just for visualization #############
pd.DataFrame(forward,columns=['DT','JJ','NN','VB'],index=text.split())
######################################################

+ multiply init vector with transition matrix i.e. result = init_vector * transition_matrix
+ result * emission probability for a

In [7]:
# backward algo
backward = np.zeros((5, 4))
inp = np.array([1, 1, 1, 1])
l = len(text.split()) - 1
for t in range(l, -1, -1):
    if t == l:
        tmp = np.dot(inp, tp)
        backward[t] = tmp * ep[t]
    else:
        tmp = np.dot(backward[t + 1], tp)
        backward[t] = tmp * ep[t]
######### This is just for visualization #############
pd.DataFrame(backward,columns=['DT','JJ','NN','VB'],index=text.split())
######################################################

In [8]:
gamma = np.zeros((5, 4))
gamma = forward * backward
######### This is just for visualization #############
pd.DataFrame(gamma,columns=['DT','JJ','NN','VB'],index=text.split())
######################################################

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DT</th>
      <th>JJ</th>
      <th>NN</th>
      <th>VB</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0.000396</td>
      <td>0.000027</td>
      <td>0.000031</td>
      <td>0.000105</td>
    </tr>
    <tr>
      <th>myth</th>
      <td>0.000090</td>
      <td>0.000770</td>
      <td>0.002305</td>
      <td>0.000998</td>
    </tr>
    <tr>
      <th>is</th>
      <td>0.000193</td>
      <td>0.000554</td>
      <td>0.001319</td>
      <td>0.029782</td>
    </tr>
    <tr>
      <th>female</th>
      <td>0.000995</td>
      <td>0.085340</td>
      <td>0.048737</td>
      <td>0.017842</td>
    </tr>
    <tr>
      <th>moth</th>
      <td>0.049200</td>
      <td>0.123500</td>
      <td>0.362500</td>
      <td>0.238000</td>
    </tr>
  </tbody>
</table>
</div>